@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');



.rootbt {
    display: none;
}

.headbt {
    display: none;
}

.root {
    width: 180px !important; //перебиваем стили антд
    height: 100vh;
}

.logo {
    color: white;
    font: normal 22px 'Baloo', serif;
    font-size: 22px;
    letter-spacing: 1px;
    margin: 15px 33.03px 30px 28.6px;
}

.logo > img {
    margin-right: 10px;
    margin-top: -7px;
}

.menu_item {
    font-weight: 500;
    font: normal 14px "Roboto", serif;
    line-height: 16.41px;
}

.menu_item:hover {
    color: #4c7eff !important;
}

.five {
    color: white;
}

.menu_icon {
    margin-top: -3px;
    margin-right: 3px;
}

.curr {
    display: none;
}

@media (max-width: 1335px){
    .root {
        display: none;
    }
    .logo {
        z-index: 1;
    }

    .head {
        height: 100vh;
        width: 100vw !important;

        position: absolute;
        top: 24px;
        left: 0;
        z-index: 5;
    }

    .headbt {
        position: absolute;
        top: 10px;
        right: 25px;
        display: block;
    }

    .curr {
        display: flex;
        margin-top: 10px;
    }

    .curr > img {
        border-radius: 50%;
        margin-bottom: -15px;
        border: 1px solid #005BE4;
    }
}