.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding-top: 35px !important;

    position: absolute !important;
    left: 180px;
    top: -23px;

    background: linear-gradient(#E3EEFF 100%, #F8FBFF 100%);
    width: calc(100% - 180px);
}

.head_controls {
    display: flex;
    flex-direction: row;

    align-items: center;

    

}

.coin {
    width: 17px;
    height: 17px;
    margin-left: 10px;
}

.avatar{
    border-radius: 50%;
    border: 1px solid #0F66EA;
    margin-left: 21px;
}

.droplink {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: white;
    height: 56px;
    margin-bottom: -17px;
    padding-top: 10px;
    width: 97px;
    border-radius: 5px;
    
    font-size: 15px;
    color: #4E9616;
    font-weight: 500;
}

.droplink > img {
    margin-top: 3px;
}

.burg {
    display: none;
}

@media (max-width: 1335px) {
    .header {
        left: 0;
        width: 100%;

        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }

    .head_controls {
        display: none;
    }

    .burg {
        display: block;
    }
    
}