.root {
    display: flex;

    height: 100vh;
    overflow: hidden;
}



@media (max-width:1335px) {
    .root {
        overflow: scroll;

        display: flex;
        justify-content: center;
    }
    .menu {
        display: none !important;
    }
}